/* https://alshafaqalbahri.com */

/* this code is linked to the store theme.settings.get("custom_switch_blablabla") */
/* you can change style from the theme settings itself */

@media only screen and (max-width: 492px) {
	body.switch2_on .store-header .header-inner-wrapper {
		position: relative;
	}
	body.switch2_on .store-header .navbar-brand {
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		padding: 0;
	}
}
