@media only screen and (max-width: 492px) {
	body.switch3_on .store-header .header-inner-wrapper {
		position: relative;
	}
	body.switch3_on .store-header .navbar-brand {
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		margin-top: 0;
	}
}
