/* theme: Aali */
/* store t 30 rizon store */

body.switch2_on.index .s-block__title.section-main-title .right-side.custom-s {
	display: none;
}

#app {
	--color-primary: var(--custom-color2);
}
.product-single salla-add-product-button .s-button-primary,
salla-comment-form .s-comment-form-action .s-button-element {
	box-shadow: none;
}
@media only screen and (max-width: 492px) {
	body.switch3_on .store-header .header-inner-wrapper {
		position: relative;
	}
	body.switch3_on .store-header .navbar-brand {
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		margin-top: 0;
	}
}
/* sidebar */
@media only screen and (max-width: 1024px) {
	.mm-ocd__content #mobile-menu {
		background-color: var(--custom-color1);
		color: var(--custom-color2);
	}
}
