/* theme:Aali */
/* store t 35 twenty store */
/* handle switch one, merchant can edit this from theme settings: last dipartment, custom switch 1 */
body.switch1_on .top-navbar {
	padding-bottom: 0;
	padding-top: 0;
}

body.switch2_on .mobile-nav-outer.small-shape .mobile-nav {
	padding-top: 1.3rem;
	padding-bottom: 1.3rem;
}

body.switch2_on .mobile-nav-outer.small-shape .mobile-nav i {
	font-size: 1.25rem;
}
